:root {
    --glaucous: #6382A3ff;
    --dark-cyan: #559997ff;
    --bar-start: #559989ff;
    --bar-middle: #1be07eff;
    --bar-end: #0b8e6bff;
    --aquamarine: #96F5C6ff;
    --white: #FFFFFFff;
    --pale-purple: #E8D9F0ff;
    --mauve: #D99AFFff;
    --lavender-floral: #BB66EEff;
    --dark-violet: #9526D2ff;
    --tekhelet: #601787ff;
    --gold-light: #FFD700ff;
    --gold-medium: #FFC700ff;
    --gold-dark: #FFB600ff;
}