
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-color: darkblue;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  outline: none;
}

#model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}