.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bahiana-regular {
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}